html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

/*INDEX*/

.bgIndex {
	
	margin: 0;
	padding: 0;
	width: 100%;
	height: 94vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	animation: animindex 15s ease-out infinite;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center; 
}

.bgIndex h1 {
	color: rgb(247, 111, 0);
	font-weight: bold;
	opacity: 0.8;
	background-color: black;
	border-radius: 5px;
	font-size: 5em;
	padding: 0 10px;
	text-transform: uppercase;
	font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
	margin-bottom: 0.5em;
	/*animation-duration: 3s;
  	animation-name: slidein;*/
}

.bgIndex p.infoIndex {
	margin-top: 0em;
	opacity: 0.8;
	color: rgb(247, 111, 0);
	padding: 2px 8px;
	background-color: black;
	font-size: 1.3em;
}
.bgIndex footer {
	position: absolute;
	z-index: 1;
	bottom : 2%;
	right: 1%;
	color: rgb(44, 188, 255);
	background-color: rgb(77, 77, 77);
	font-size: 1.3em;
	padding: 0.1em 0.2em 0.1em 0.2em;
}
.custom-button {
	color: rgb(247, 111, 0);
	border: 1px solid rgb(247, 111, 0);
	border-radius: 3px;
	padding: 8px 20px;
	text-decoration: none;
	background-color: black;
}
.custom-button:hover {
	color: rgb(0, 0, 0);
	border: 1px solid rgb(0, 0, 0);
	background-color: rgb(247, 111, 0);
}


@keyframes animindex {
	0%, 100% {
		background-image: url(/images/fondindex1.jpg);
	}
	33.3% {
		background-image: url(/images/fondindex2.jpg);
	}
	66.6% {
		background-image: url(/images/fondindex3.jpg);
	}
}

@keyframes slidein {
	from {
	  margin-top: 100%;
	  width: 300%;
	}
  
	to {
	  margin-top: 0%;
	  width: 100%;
	}
  }

/*BOOTSTRAP*/

.nav-link {
  color: white !important;
}
.navbar-brand {
  color: white !important;
}