@media screen and (max-width:750px) {
    .bgIndex h1 {
        font-size: 3em;
    }
    .bgIndex p.infoIndex {
        font-size: 1em;
    }
        /*CONTACT*/
    .contact-form {
        width: 20em;
    }
}



/*CAROUSEL*/
@media screen and (max-width:1500px) {
    .main-carousel {
        height: 39vw;
    }
}

@media screen and (max-width:1200px) {
    .main-carousel {
        height: 41vw;
    }
}

@media screen and (max-width:950px) {
    .main-carousel {
        height: 43vw;
    }
}

@media screen and (max-width:850px) {
    .main-carousel {
        height: 44vw;
    }
}
@media screen and (max-width:650px) {
    .main-carousel {
        height: 46vw;
    }
}
@media screen and (max-width:550px) {
    .main-carousel {
        height: 45vw;
    }
    #slider {
        height: 34vw;
        top: 2em;
      }
}
@media screen and (max-width:500px) {
    .main-carousel {
        height: 47vw;
    }
}
@media screen and (max-width:450px) {
    .main-carousel {
        height: 49vw;
    }
}
@media screen and (max-width:400px) {
    .main-carousel {
        height: 44vw;
    }
    #slider {
        height: 34vw;
        top: 1em;
      }
}